[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudpickle = "==0.4.0"
fpdf2 = "==2.1.0"
joblib = "==0.14.1"
matplotlib = "*"
networkx = "==1.11"
numpy = "*"
pyproj = ">=1.9.5.1"
pytest = "==3.0.7"
python-dateutil = "==2.6.0"
scipy = "*"
six = "*"
xmltodict = "==0.10.2"
opencv-python = "*"
PyYAML = "==5.1"
ExifRead = "==2.1.2"
Pillow = "==7.1.0"

[requires]
python_version = "3.8"

[dev-packages]
